[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
psycopg2 = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.10"
